@mixin h2link() {
    color: #70cfff;
    // Same as h2
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 30px;
    &:hover {
        text-decoration: underline;
    }
}

html {
    background: #252728;
}

body {
    background: #252728;
    color: white;
    user-select: none;
    font-family: Meiryo, serif;
    margin-left: 1.34em;
}

.negative {
    text-decoration: overline !important;
}

.reset, .others {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    @include h2link();
}

input {
    display: none;
    &:checked + label {
        background-color: #62ab57;
    }
}

label {
    display: inline-block;
    font: 21px 'JetBrains Mono';
    width: 50px;
    text-align: center;
    margin: 10px 10px;
    padding: 15px 30px;
    color: #fff;
    //background: #6a8494;
    background: #536774;
    cursor: pointer;
    transition: background-color .1s;
}
